# Estadisticas datos: Proceso uso de una maquina (todo 2016)

In [1]:
import pandas as pd
usoDeMaquina = pd.read_csv('../data/datosProcesados/usoDeUnaMaquina.txt')

In [3]:
usoDeMaquina.describe().tail(7)

            dia        mes     año       hora     minuto     semana
mean  15.691461   5.154379  2016.0  13.154754  29.611010   7.901720
std    8.652332   3.302432     0.0   3.616360  17.656758   5.114483
min    1.000000   1.000000  2016.0   7.000000   0.000000  -1.000000
25%    9.000000   3.000000  2016.0  10.000000  14.000000   4.000000
50%   15.000000   4.000000  2016.0  13.000000  29.000000   8.000000
75%   24.000000   8.000000  2016.0  16.000000  45.000000  12.000000
max   31.000000  12.000000  2016.0  22.000000  59.000000  20.000000

# Estadisticas datos: Proceso uso de una maquina (semestres 2016)

In [4]:
import pandas as pd
usoDeMaquina = pd.read_csv('../data/datosProcesados/usoDeUnaMaquina.txt')

In [6]:
usoDeMaquina[usoDeMaquina.semana != -1].describe().tail(7)

            dia        mes     año       hora     minuto     semana
mean  15.640125   5.013187  2016.0  13.221091  29.664923   8.563452
std    8.653907   3.335693     0.0   3.566383  17.659999   4.666261
min    1.000000   1.000000  2016.0   7.000000   0.000000   1.000000
25%    9.000000   2.000000  2016.0  10.000000  14.000000   5.000000
50%   15.000000   3.000000  2016.0  13.000000  30.000000   8.000000
75%   24.000000   9.000000  2016.0  16.000000  45.000000  12.000000
max   31.000000  11.000000  2016.0  22.000000  59.000000  20.000000

# Pruebas

In [8]:
usoDeMaquina[(usoDeMaquina.semana != -1) & (usoDeMaquina.diaLenguajeNatural == 'Sunday')].head(10)

,usuario,sala,idEquipo,dia,mes,año,hora,minuto,diaLenguajeNatural,semana
58134,no user,waira 1,ISC215,13,3,2016,22,59,Sunday,8
58135,sisnd.munoz10,waira 1,ISC215,13,3,2016,22,59,Sunday,8
58136,no user,waira 1,ISC215,13,3,2016,22,59,Sunday,8
58137,sisnd.munoz10,waira 1,ISC215,13,3,2016,22,59,Sunday,8
58138,no user,waira 1,ISC215,13,3,2016,22,58,Sunday,8
58139,sisnd.munoz10,waira 1,ISC215,13,3,2016,22,58,Sunday,8
58140,no user,waira 1,ISC215,13,3,2016,22,58,Sunday,8
58141,sisnd.munoz10,waira 1,ISC215,13,3,2016,22,58,Sunday,8
58142,no user,waira 1,ISC215,13,3,2016,22,57,Sunday,8
58143,sisnd.munoz10,waira 1,ISC215,13,3,2016,22,57,Sunday,8

In [11]:
usoDeMaquinaSoloSemestres7a9 = usoDeMaquina[(usoDeMaquina.hora < 19) & (usoDeMaquina.hora > 7) & (usoDeMaquina.semana != -1) ]
#usoDeMaquinaSoloSemestres7a9.to_csv('../data/datosProcesados/usoDeMaquinaSoloSemestres7a9.txt', encoding='utf-8')
usoDeMaquinaSoloSemestres7a9.describe().head(2).tail(1)

           dia       mes     año       hora     minuto    semana
mean  15.72368  4.992963  2016.0  12.853803  29.780662  8.569243

# Entrega tercera parte proyecto 2

In [6]:
import pandas as pd
usoDeMaquina = pd.read_csv('../data/datosProcesados/usoDeUnaMaquinaCONFILAS.txt')
usoDeMaquina

C:\Users\joseg\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,usuario,sala,idEquipo,dia,mes,año,hora,minuto,diaLenguajeNatural,semana,filaDelPcEnLaSala
0,no user,waira 1,ISC228,19,4,2016,11,32,Tuesday,14,4
1,no user,waira 1,ISC215,25,1,2016,14,24,Monday,2,3
2,no user,waira 2,ISC316,19,5,2016,9,2,Thursday,18,4
3,no user,turing,ISC406,7,4,2016,14,45,Thursday,12,6
4,no user,turing,ISC406,2,2,2016,11,37,Tuesday,3,6
5,no user,turing,ISC410,15,4,2016,16,17,Friday,13,4
6,no user,turing,ISC410,4,4,2016,11,49,Monday,12,4
7,no user,turing,ISC426,10,5,2016,11,40,Tuesday,17,2
8,no user,turing,ISC418,18,10,2016,14,49,Tuesday,12,6
9,no user,turing,ISC429,26,4,2016,15,20,Tuesday,15,5
10,no user,turing,ISC413,10,3,2016,8,45,Thursday,8,1
11,no user,waira 2,ISC318,11,11,2016,17,20,Friday,15,6
12,no user,turing,ISC437,22,4,2016,8,19,Friday,14,1
13,no user,turing,ISC418,18,10,2016,14,51,Tuesday,12,6
14,no user,turing,ISC406,24,10,2016,10,36,Monday,13,6
15,no user,turing,ISC437,25,4,2016,11,29,Monday,15,1
16,no user,waira 2,ISC326,27,4,2016,15,36,Wednesday,15,2
17,no user,waira 1,ISC215,25,1,2016,14,24,Monday,2,3
18,no user,turing,ISC409,15,6,2016,15,10,Wednesday,-1,3
19,no user,waira 2,ISC324,5,4,2016,12,4,Tuesday,12,6
20,no user,turing,ISC401,25,8,2016,19,19,Thursday,4,1
21,no user,turing,ISC410,15,12,2016,9,14,Thursday,-1,4
22,no user,turing,ISC430,23,2,2016,11,36,Tuesday,6,6
23,no user,turing,ISC429,18,5,2016,11,50,Wednesday,18,5
24,no user,turing,ISC418,18,10,2016,14,49,Tuesday,12,6
25,no user,turing,ISC409,20,6,2016,19,16,Monday,-1,3
26,no user,turing,ISC410,19,9,2016,10,57,Monday,8,4
27,no user,turing,ISC409,27,6,2016,19,27,Monday,-1,3
28,no user,turing,ISC418,18,10,2016,14,51,Tuesday,12,6
29,no user,waira 2,ISC326,10,5,2016,11,19,Tuesday,17,2
...,...,...,...,...,...,...,...,...,...,...,...
186692,no user,waira 2,ISC306,18,5,2016,17,41,Wednesday,18,6
186693,no user,waira 1,ISC201,12,4,2016,9,9,Tuesday,13,1
186694,no user,waira 1,ISC201,28,3,2016,16,4,Monday,11,1
186695,no user,waira 1,ISC201,28,3,2016,16,4,Monday,11,1
186696,no user,waira 1,ISC201,28,3,2016,16,4,Monday,11,1
186697,no user,waira 1,ISC201,28,3,2016,16,4,Monday,11,1
186698,no user,waira 1,ISC201,28,3,2016,16,3,Monday,11,1
186699,no user,waira 1,ISC201,28,3,2016,16,3,Monday,11,1
186700,no user,waira 1,ISC201,28,3,2016,16,3,Monday,11,1
186701,no user,waira 1,ISC201,28,3,2016,16,3,Monday,11,1
186702,no user,waira 1,ISC201,28,3,2016,16,2,Monday,11,1
186703,no user,waira 1,ISC201,28,3,2016,16,2,Monday,11,1
186704,no user,waira 1,ISC201,28,3,2016,16,2,Monday,11,1
186705,no user,waira 1,ISC201,28,3,2016,16,2,Monday,11,1
186706,no user,waira 1,ISC201,28,3,2016,16,1,Monday,11,1
186707,no user,waira 1,ISC201,28,3,2016,16,1,Monday,11,1
186708,no user,waira 1,ISC201,28,3,2016,16,1,Monday,11,1
186709,no user,waira 1,ISC201,28,3,2016,16,1,Monday,11,1
186710,no user,waira 1,ISC201,28,3,2016,16,0,Monday,11,1
186711,no user,waira 1,ISC201,28,3,2016,16,0,Monday,11,1
186712,no user,waira 1,ISC201,28,3,2016,16,0,Monday,11,1
186713,no user,waira 1,ISC201,28,3,2016,16,0,Monday,11,1
186714,no user,waira 1,ISC201,28,3,2016,15,59,Monday,11,1
186715,no user,waira 1,ISC201,28,3,2016,15,59,Monday,11,1
186716,no user,waira 1,ISC201,28,3,2016,15,59,Monday,11,1
186717,no user,waira 1,ISC221,19,9,2016,13,4,Monday,8,3
186718,no user,waira 1,ISC201,28,3,2016,15,59,Monday,11,1
186719,no user,waira 1,ISC206,15,6,2016,14,27,Wednesday,-1,6
186720,no user,waira 1,ISC216,18,1,2016,7,52,Monday,1,4
186721,no user,turing,ISC436,12,1,2016,15,58,Tuesday,1,6

In [7]:
usoDeMaquinaSoloSemestres7a9 = usoDeMaquina[(usoDeMaquina.hora < 19) & (usoDeMaquina.hora > 7) & (usoDeMaquina.semana != -1) ]
usoDeMaquinaSoloSemestres7a9.to_csv('../data/datosProcesados/usoDeMaquinaSoloSemestres7a9CONFILAS.txt', encoding='utf-8')
usoDeMaquinaSoloSemestres7a9.describe().head(2).tail(1)

           dia       mes     año       hora     minuto    semana
mean  15.72368  4.992963  2016.0  12.853803  29.780662  8.569243