# Estadisticas datos: Proceso uso de una sala (todo 2016)

In [2]:
import pandas as pd
usoDeSala = pd.read_csv('../data/datosProcesados/usoDeUnaSala.txt')

In [4]:
usoDeSala.describe().tail(7)

,numEquipos,PorcentajeOcupacion,dia,mes,año,hora,minuto,semana
mean,38.666667,0.107251,15.894655,6.950850,2016.0,11.499514,27.502737,7.170206
std,6.944234,0.170760,8.911887,3.215985,0.0,6.923860,17.260465,6.606164
min,30.000000,0.000000,1.000000,1.000000,2016.0,0.000000,0.000000,-1.000000
25%,30.000000,0.000000,8.000000,4.000000,2016.0,6.000000,15.000000,-1.000000
50%,39.000000,0.025641,16.000000,7.000000,2016.0,11.000000,30.000000,7.000000
75%,47.000000,0.133333,24.000000,10.000000,2016.0,18.000000,45.000000,13.000000
max,47.000000,1.166667,31.000000,12.000000,2016.0,23.000000,59.000000,20.000000

# Estadisticas datos: Proceso uso de una sala (solo periodos semestrales)

In [6]:
import pandas as pd
usoDeSala = pd.read_csv('../data/datosProcesados/usoDeUnaSala.txt')

In [11]:
usoDeSala[usoDeSala.semana != -1].describe().tail(7)

,numEquipos,PorcentajeOcupacion,dia,mes,año,hora,minuto,semana
mean,38.666667,0.131830,15.923428,6.427152,2016.0,11.504117,27.500632,10.114429
std,6.944238,0.181991,8.880718,3.238352,0.0,6.924165,17.260493,5.161842
min,30.000000,0.000000,1.000000,1.000000,2016.0,0.000000,0.000000,1.000000
25%,30.000000,0.000000,8.000000,3.000000,2016.0,6.000000,15.000000,6.000000
50%,39.000000,0.042553,16.000000,5.000000,2016.0,12.000000,30.000000,10.000000
75%,47.000000,0.230769,24.000000,9.000000,2016.0,18.000000,45.000000,15.000000
max,47.000000,1.166667,31.000000,11.000000,2016.0,23.000000,55.000000,20.000000

# Estadisticas datos: Proceso uso de una sala (solo waira 1)

In [6]:
import pandas as pd
usoDeSala = pd.read_csv('../data/datosProcesados/usoDeUnaSala.txt')

In [21]:
usoDeSala[(usoDeSala.semana != -1) & (usoDeSala.sala == 'waira 1')].describe().tail(7)

,numEquipos,PorcentajeOcupacion,dia,mes,año,hora,minuto,semana
mean,47.0,0.120176,15.923428,6.427152,2016.0,11.504117,27.500632,10.114429
std,0.0,0.162687,8.880759,3.238367,0.0,6.924197,17.260574,5.161866
min,47.0,0.000000,1.000000,1.000000,2016.0,0.000000,0.000000,1.000000
25%,47.0,0.000000,8.000000,3.000000,2016.0,6.000000,15.000000,6.000000
50%,47.0,0.021277,16.000000,5.000000,2016.0,12.000000,30.000000,10.000000
75%,47.0,0.212766,24.000000,9.000000,2016.0,18.000000,45.000000,15.000000
max,47.0,1.000000,31.000000,11.000000,2016.0,23.000000,55.000000,20.000000

# pruebas

In [47]:
usoSalaSemestres7a9 = usoDeSala[(usoDeSala.hora < 19) & (usoDeSala.hora > 7) & (usoDeSala.semana != -1) ]
usoSalaSemestres7a9.to_csv('../data/datosProcesados/usoDeSalaSoloSemestres7a9.txt', encoding='utf-8')
usoSalaSemestres7a9.describe().head(2).tail(1)

,numEquipos,PorcentajeOcupacion,dia,mes,año,hora,minuto,semana
mean,38.666667,0.226428,15.919455,6.429286,2016.0,13.000061,27.49931,10.117627

In [46]:
usoSalaLIMPIO = usoSalaSemestres7a9[(usoSalaSemestres7a9.diaLenguajeNatural != 'Sunday') &(usoSalaSemestres7a9.diaLenguajeNatural != 'Saturday') & (usoSalaSemestres7a9.semana < 18)]

usoSalaLIMPIO.describe().head(2).tail(1)

,numEquipos,PorcentajeOcupacion,dia,mes,año,hora,minuto,semana
mean,38.666667,0.294618,15.0253,6.469345,2016.0,13.000094,27.498948,9.376841

In [45]:
usoSalaLIMPIO.to_csv('../data/datosProcesados/usoDeSalaSoloSemestres7a9.txt', encoding='utf-8')