# Estadisticas datos: Proceso uso de una sala (todo 2016)

In [2]:
import pandas as pd
usoDeSala = pd.read_csv('../data/datosProcesados/usoDeUnaSala.txt')

In [4]:
usoDeSala.describe().tail(7)

,numEquipos,PorcentajeOcupacion,dia,mes,año,hora,minuto,semana
mean,38.666667,0.107251,15.894655,6.950850,2016.0,11.499514,27.502737,7.170206
std,6.944234,0.170760,8.911887,3.215985,0.0,6.923860,17.260465,6.606164
min,30.000000,0.000000,1.000000,1.000000,2016.0,0.000000,0.000000,-1.000000
25%,30.000000,0.000000,8.000000,4.000000,2016.0,6.000000,15.000000,-1.000000
50%,39.000000,0.025641,16.000000,7.000000,2016.0,11.000000,30.000000,7.000000
75%,47.000000,0.133333,24.000000,10.000000,2016.0,18.000000,45.000000,13.000000
max,47.000000,1.166667,31.000000,12.000000,2016.0,23.000000,59.000000,20.000000

# Estadisticas datos: Proceso uso de una sala (solo periodos semestrales)

In [6]:
import pandas as pd
usoDeSala = pd.read_csv('../data/datosProcesados/usoDeUnaSala.txt')

In [11]:
usoDeSala[usoDeSala.semana != -1].describe().tail(7)

,numEquipos,PorcentajeOcupacion,dia,mes,año,hora,minuto,semana
mean,38.666667,0.131830,15.923428,6.427152,2016.0,11.504117,27.500632,10.114429
std,6.944238,0.181991,8.880718,3.238352,0.0,6.924165,17.260493,5.161842
min,30.000000,0.000000,1.000000,1.000000,2016.0,0.000000,0.000000,1.000000
25%,30.000000,0.000000,8.000000,3.000000,2016.0,6.000000,15.000000,6.000000
50%,39.000000,0.042553,16.000000,5.000000,2016.0,12.000000,30.000000,10.000000
75%,47.000000,0.230769,24.000000,9.000000,2016.0,18.000000,45.000000,15.000000
max,47.000000,1.166667,31.000000,11.000000,2016.0,23.000000,55.000000,20.000000

# Estadisticas datos: Proceso uso de una sala (solo waira 1)

In [6]:
import pandas as pd
usoDeSala = pd.read_csv('../data/datosProcesados/usoDeUnaSala.txt')

In [21]:
usoDeSala[(usoDeSala.semana != -1) & (usoDeSala.sala == 'waira 1')].describe().tail(7)

,numEquipos,PorcentajeOcupacion,dia,mes,año,hora,minuto,semana
mean,47.0,0.120176,15.923428,6.427152,2016.0,11.504117,27.500632,10.114429
std,0.0,0.162687,8.880759,3.238367,0.0,6.924197,17.260574,5.161866
min,47.0,0.000000,1.000000,1.000000,2016.0,0.000000,0.000000,1.000000
25%,47.0,0.000000,8.000000,3.000000,2016.0,6.000000,15.000000,6.000000
50%,47.0,0.021277,16.000000,5.000000,2016.0,12.000000,30.000000,10.000000
75%,47.0,0.212766,24.000000,9.000000,2016.0,18.000000,45.000000,15.000000
max,47.0,1.000000,31.000000,11.000000,2016.0,23.000000,55.000000,20.000000

# pruebas

In [28]:
usoSalaSemestres7a9 = usoDeSala[(usoDeSala.hora < 19) & (usoDeSala.hora > 7) & (usoDeSala.semana != -1) ]
usoSalaSemestres7a9.to_csv('../data/datosProcesados/usoDeSalaSoloSemestres7a9.txt', encoding='utf-8')
usoSalaSemestres7a9

,sala,numEquipos,PorcentajeOcupacion,dia,mes,año,hora,minuto,diaLenguajeNatural,semana
369,turing,39,0.051282,28,1,2016,8,0,Thursday,2
370,waira 1,47,0.021277,28,1,2016,8,0,Thursday,2
371,waira 2,30,0.000000,28,1,2016,8,0,Thursday,2
372,turing,39,0.051282,28,1,2016,8,5,Thursday,2
373,waira 1,47,0.021277,28,1,2016,8,5,Thursday,2
374,waira 2,30,0.000000,28,1,2016,8,5,Thursday,2
375,turing,39,0.051282,28,1,2016,8,10,Thursday,2
376,waira 1,47,0.021277,28,1,2016,8,10,Thursday,2
377,waira 2,30,0.000000,28,1,2016,8,10,Thursday,2
378,turing,39,0.051282,28,1,2016,8,15,Thursday,2
379,waira 1,47,0.021277,28,1,2016,8,15,Thursday,2
380,waira 2,30,0.000000,28,1,2016,8,15,Thursday,2
381,turing,39,0.051282,28,1,2016,8,20,Thursday,2
382,waira 1,47,0.021277,28,1,2016,8,20,Thursday,2
383,waira 2,30,0.000000,28,1,2016,8,20,Thursday,2
384,turing,39,0.051282,28,1,2016,8,25,Thursday,2
385,waira 1,47,0.021277,28,1,2016,8,25,Thursday,2
386,waira 2,30,0.000000,28,1,2016,8,25,Thursday,2
387,turing,39,0.051282,28,1,2016,8,30,Thursday,2
388,waira 1,47,0.021277,28,1,2016,8,30,Thursday,2
389,waira 2,30,0.000000,28,1,2016,8,30,Thursday,2
390,turing,39,0.051282,28,1,2016,8,35,Thursday,2
391,waira 1,47,0.021277,28,1,2016,8,35,Thursday,2
392,waira 2,30,0.000000,28,1,2016,8,35,Thursday,2
393,turing,39,0.051282,28,1,2016,8,40,Thursday,2
394,waira 1,47,0.021277,28,1,2016,8,40,Thursday,2
395,waira 2,30,0.000000,28,1,2016,8,40,Thursday,2
396,turing,39,0.051282,28,1,2016,8,45,Thursday,2
397,waira 1,47,0.021277,28,1,2016,8,45,Thursday,2
398,waira 2,30,0.000000,28,1,2016,8,45,Thursday,2
...,...,...,...,...,...,...,...,...,...,...
263424,turing,39,0.128205,30,11,2016,18,10,Wednesday,18
263425,waira 1,47,0.276596,30,11,2016,18,10,Wednesday,18
263426,waira 2,30,0.166667,30,11,2016,18,10,Wednesday,18
263427,turing,39,0.102564,30,11,2016,18,15,Wednesday,18
263428,waira 1,47,0.297872,30,11,2016,18,15,Wednesday,18
263429,waira 2,30,0.166667,30,11,2016,18,15,Wednesday,18
263430,turing,39,0.076923,30,11,2016,18,20,Wednesday,18
263431,waira 1,47,0.297872,30,11,2016,18,20,Wednesday,18
263432,waira 2,30,0.166667,30,11,2016,18,20,Wednesday,18
263433,turing,39,0.076923,30,11,2016,18,25,Wednesday,18
263434,waira 1,47,0.297872,30,11,2016,18,25,Wednesday,18
263435,waira 2,30,0.166667,30,11,2016,18,25,Wednesday,18
263436,turing,39,0.051282,30,11,2016,18,30,Wednesday,18
263437,waira 1,47,0.297872,30,11,2016,18,30,Wednesday,18
263438,waira 2,30,0.166667,30,11,2016,18,30,Wednesday,18
263439,turing,39,0.051282,30,11,2016,18,35,Wednesday,18
263440,waira 1,47,0.297872,30,11,2016,18,35,Wednesday,18
263441,waira 2,30,0.166667,30,11,2016,18,35,Wednesday,18
263442,turing,39,0.051282,30,11,2016,18,40,Wednesday,18
263443,waira 1,47,0.319149,30,11,2016,18,40,Wednesday,18
263444,waira 2,30,0.166667,30,11,2016,18,40,Wednesday,18
263445,turing,39,0.051282,30,11,2016,18,45,Wednesday,18
263446,waira 1,47,0.319149,30,11,2016,18,45,Wednesday,18
263447,waira 2,30,0.166667,30,11,2016,18,45,Wednesday,18
263448,turing,39,0.051282,30,11,2016,18,50,Wednesday,18
263449,waira 1,47,0.319149,30,11,2016,18,50,Wednesday,18
263450,waira 2,30,0.166667,30,11,2016,18,50,Wednesday,18
263451,turing,39,0.051282,30,11,2016,18,55,Wednesday,18
263452,waira 1,47,0.319149,30,11,2016,18,55,Wednesday,18
263453,waira 2,30,0.166667,30,11,2016,18,55,Wednesday,18