# Estadisticas datos: Proceso uso de una maquina (todo 2016)

In [1]:
import pandas as pd
usoDeMaquina = pd.read_csv('../data/datosProcesados/usoDeUnaMaquina.txt')

In [3]:
usoDeMaquina.describe().tail(7)

            dia        mes     año       hora     minuto     semana
mean  15.691461   5.154379  2016.0  13.154754  29.611010   7.901720
std    8.652332   3.302432     0.0   3.616360  17.656758   5.114483
min    1.000000   1.000000  2016.0   7.000000   0.000000  -1.000000
25%    9.000000   3.000000  2016.0  10.000000  14.000000   4.000000
50%   15.000000   4.000000  2016.0  13.000000  29.000000   8.000000
75%   24.000000   8.000000  2016.0  16.000000  45.000000  12.000000
max   31.000000  12.000000  2016.0  22.000000  59.000000  20.000000

# Estadisticas datos: Proceso uso de una maquina (semestres 2016)

In [4]:
import pandas as pd
usoDeMaquina = pd.read_csv('../data/datosProcesados/usoDeUnaMaquina.txt')

In [6]:
usoDeMaquina[usoDeMaquina.semana != -1].describe().tail(7)

            dia        mes     año       hora     minuto     semana
mean  15.640125   5.013187  2016.0  13.221091  29.664923   8.563452
std    8.653907   3.335693     0.0   3.566383  17.659999   4.666261
min    1.000000   1.000000  2016.0   7.000000   0.000000   1.000000
25%    9.000000   2.000000  2016.0  10.000000  14.000000   5.000000
50%   15.000000   3.000000  2016.0  13.000000  30.000000   8.000000
75%   24.000000   9.000000  2016.0  16.000000  45.000000  12.000000
max   31.000000  11.000000  2016.0  22.000000  59.000000  20.000000

# Pruebas

In [8]:
usoDeMaquina[(usoDeMaquina.semana != -1) & (usoDeMaquina.diaLenguajeNatural == 'Sunday')].head(10)

,usuario,sala,idEquipo,dia,mes,año,hora,minuto,diaLenguajeNatural,semana
58134,no user,waira 1,ISC215,13,3,2016,22,59,Sunday,8
58135,sisnd.munoz10,waira 1,ISC215,13,3,2016,22,59,Sunday,8
58136,no user,waira 1,ISC215,13,3,2016,22,59,Sunday,8
58137,sisnd.munoz10,waira 1,ISC215,13,3,2016,22,59,Sunday,8
58138,no user,waira 1,ISC215,13,3,2016,22,58,Sunday,8
58139,sisnd.munoz10,waira 1,ISC215,13,3,2016,22,58,Sunday,8
58140,no user,waira 1,ISC215,13,3,2016,22,58,Sunday,8
58141,sisnd.munoz10,waira 1,ISC215,13,3,2016,22,58,Sunday,8
58142,no user,waira 1,ISC215,13,3,2016,22,57,Sunday,8
58143,sisnd.munoz10,waira 1,ISC215,13,3,2016,22,57,Sunday,8

In [11]:
usoDeMaquinaSoloSemestres7a9 = usoDeMaquina[(usoDeMaquina.hora < 19) & (usoDeMaquina.hora > 7) & (usoDeMaquina.semana != -1) ]
#usoDeMaquinaSoloSemestres7a9.to_csv('../data/datosProcesados/usoDeMaquinaSoloSemestres7a9.txt', encoding='utf-8')
usoDeMaquinaSoloSemestres7a9.describe().head(2).tail(1)

           dia       mes     año       hora     minuto    semana
mean  15.72368  4.992963  2016.0  12.853803  29.780662  8.569243